@import '../../styles/variables.less';

.it-dropdown {
  display: inline-block;
}

.it-dropdown-slot {
  // margin: 6px;
  position: absolute;
  z-index: 9000;

  &--top {
    margin-top: -6px;
  }

  &--bottom {
    margin-top: 6px;
  }

  &--left {
    margin-left: -6px;
  }

  &--right {
    margin-left: 6px;
  }
}

.it-dropdown-menu {
  box-shadow: @popup-shadow;
  border-radius: @border-radius-base;
  min-width: 130px;
  font-size: 14px;
  font-weight: 400;
  // line-height: 1;
  padding: 4px 0;
  width: inherit;
  overflow: hidden;
  // padding: 0px;
  margin: 0;
  list-style: none;
  text-align: left;
  background-color: #fff;
  word-wrap: break-word;
  user-select: none;
  color: @color-secondary-black;
}

.it-dropdown-icon {
  vertical-align: middle;
  margin-right: 5px;
}

.it-dropdown-text {
  vertical-align: middle;
  font-size: @default-text-size;
}

.it-dropdown-item {
  padding: 11px 14px;
  display: block;
  overflow: hidden;
  line-height: 1;
  text-overflow: ellipsis;
  box-sizing: border-box;
  white-space: nowrap;
  word-wrap: normal;
  max-width: 100%;
  width: 100%;

  a {
    color: @color-black;
  }

  &:hover {
    background: @color-primary;
    color: #fff;
    cursor: pointer;
  }

  &--divided:not(:first-child) {
    border-top: 0.6px solid @color-secondary-text;
    // margin-top: 3px;
  }

  &--disabled {
    color: @color-neutral;

    &:hover {
      background-color: #fff;
      color: @color-neutral;
      cursor: not-allowed;
    }
  }
}
