@import '../../styles/variables.less';

.set-tag-type (@color) {
  border: 1px solid @color;

  > .it-tag-close {
    color: inherit;
  }

  &--filled {
    background-color: @color;
    color: #fff;
  }
}

.it-tag {
  position: relative;
  font-size: 12px;
  line-height: 1;
  display: inline-flex;
  vertical-align: middle;
  border: 1px solid @color-secondary-text;
  box-sizing: border-box;
  border-radius: @border-radius-base;
  font-weight: 500;
  padding: 4px 8px;
  color: @color-secondary-black;
  background-color: #fff;

  &-close {
    font-size: inherit;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    margin-left: 5px;
  }

  &--primary {
    .set-tag-type(@color-primary);
  }

  &--success {
    .set-tag-type(@color-success);
  }

  &--warning {
    .set-tag-type(@color-warning);
  }

  &--danger {
    .set-tag-type(@color-danger);
  }

  &--black {
    .set-tag-type(@color-secondary-black);
  }
}
