@import '../../styles/variables.less';

.set-status (@bg-color) {
  &:hover {
    border-color: @bg-color !important;
  }

  &:focus-within {
    border-color: @bg-color !important;
    box-shadow: 0 2px 4px fade(@bg-color, 40%), 0 0 0 3px fade(@bg-color, 20%);
  }

  &:disabled {
    border-color: @color-disabled-border !important;
  }

  border-color: @bg-color;
}

.set-message-status (@bg-color) {
  color: @bg-color;
}

.it-input-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  border: 1px solid @color-secondary-text;
  box-shadow: @input-shadow;
  width: 100%;
  height: 32px;
  color: @color-black;
  background-color: #fff;
  border-radius: @border-radius-base;
  box-sizing: border-box;
  overflow: hidden;
  transition: all 0.2s;

  &:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  &:focus-within {
    border: 1px solid @color-primary;
    box-shadow:
      0 2px 4px fade(@color-primary, 40%),
      0 0 0 3px fade(@color-primary, 20%);

    &:hover {
      border-color: @color-primary;
    }
  }

  &:hover {
    border-color: darken(@color-secondary-text, 10%);
  }

  &--disabled,
  &--disabled:hover {
    border-color: @color-disabled-border !important;
    background: @color-disabled-bg;
    cursor: not-allowed;

    .it-input:disabled {
      cursor: not-allowed;
      color: @color-disabled-border;
    }

    .it-input-icon {
      cursor: not-allowed;
    }
  }

  &--success {
    .set-status(@color-success);
  }

  &--warning {
    .set-status(@color-warning);
  }

  &--danger {
    .set-status(@color-danger);
  }
}

.it-input {
  display: inline-block;
  width: 100%;
  height: 100%;
  font-size: 13px;
  box-sizing: border-box;
  outline: none;
  border: none;
  font-family:
    Inter,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Helvetica Neue,
    Arial,
    Noto Sans,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  padding: 4px 10px;
  background: transparent;

  &-prefix-wrapper {
    position: relative;
    display: flex;
  }

  &-prefix,
  &-suffix {
    background-color: #fafbfd;
    color: #69707d;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
    font-size: 14px;
    padding: 0 8px;
  }

  &-prefix {
    border: 1px solid @color-secondary-text;
    border-right: none;
    border-radius: 4px 0 0 4px;

    & + .it-input-wrapper {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  &-suffix {
    border: 1px solid @color-secondary-text;
    border-left: none;
    border-radius: 0 4px 4px 0;
  }

  .it-input-icon-wrapper + & {
    padding: 4px 0;
  }

  &::placeholder {
    color: @color-neutral;
    text-indent: 0;
    transition: text-indent 0.27s ease;
  }

  &:focus::placeholder {
    text-indent: 6px;
  }

  &-mask {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(90, 98, 112, 0.5);
    z-index: 99;
  }
}

.it-input-label {
  text-align: left;
  display: block;
  font-size: 14px;
  color: @color-secondary-black;
  margin-bottom: 7px;
}

.it-input-message {
  font-size: 12px;

  &--success {
    .set-message-status(@color-success);
  }

  &--warning {
    .set-message-status(@color-warning);
  }

  &--danger {
    .set-message-status(@color-danger);
  }

  &--disabled {
    color: @color-disabled-border;
  }
}

.it-input-icon {
  color: @color-default-border;
  cursor: default;
  margin: 0 8px;
  vertical-align: middle;
}

.it-input-icon-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
}
