@import '../../styles/variables.less';

.it-input-wrapper {
  position: relative;

  display: inline-grid;
  border: 1px solid @color-secondary-text;
  grid-template-columns: auto 32px;
  width: 100%;
  height: 32px;
  color: @color-black;
  background-color: #fff;
  border-radius: 4px;
  box-sizing: border-box;
  transition: all 0.2s;


  /* 
  TODO: find better way
  https://caniuse.com/#feat=css-focus-within
  says 81% of browsers support this feature
  */
  &:focus-within {
    border: 1px solid @color-primary;
    &:hover {
      border-color: @color-primary;
    }
  }

  &:hover {
    border-color: @color-neutral;
  }

  &--disabled,
  &--disabled:hover {
    border-color: @color-secondary-text;
    background: @color-disabled-bg;
    cursor: not-allowed;
    .it-input:disabled {
      cursor: not-allowed;
    }
    .it-input-icon {
      cursor: not-allowed;
    }
  }

  &--success {
    &:hover,
    &:focus {
      border-color: @color-success !important;
    }
    border-color: @color-success;
  }
}

.it-input {
  display: inline-block;
  width: auto;
  height: 100%;
  font-size: 13px;
  box-sizing: border-box;
  outline: none;
  border: none;
  padding: 4px 10px;
  background: transparent;

  &::placeholder {
    color: @color-neutral;
    text-indent: 0px;
    transition: text-indent 0.27s ease;
  }

  &:focus::placeholder {
    text-indent: 6px;
    transition: text-indent 0.27s ease;
  }
}

.it-input-label {
  display: block;
  font-size: 14px;
  color: @color-secondary-black;
  margin-bottom: 7px;
}

.it-input-icon {
  color: @color-neutral;
  cursor: default;
  margin: 0px 8px;
  vertical-align: middle;
}

.it-input-left-addon {
  display: inline-block;
  padding: 4px 10px;
  background-color: #FBFBFB;
}

.it-input-icon-wrapper {
  align-items: center;
    display: flex;
    justify-content: center
}