{
  "root": true,
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "extends": [
    "plugin:vue/vue3-recommended",
    "eslint:recommended",
    "@vue/typescript/recommended",
    "@vue/prettier",
    "@vue/prettier/@typescript-eslint"
  ],
  "parser": "vue-eslint-parser",
  "parserOptions": {
    "parser": "@typescript-eslint/parser",
    "ecmaVersion": 2021
  },
  "rules": {
    "vue/no-unused-vars": "error",
    "vue/no-v-html": "off",
    "arrow-parens": ["error", "always"],
    "padded-blocks": ["error", "never"],
    "import/prefer-default-export": "off",
    "@typescript-eslint/no-var-requires": "off",
    "vue/component-definition-name-casing": [1, "kebab-case"]
  }
}