language: node_js
node_js:
  - "15"

cache:
  directories:
    - "node_modules"

branches:
  only:
  - master

before_install: 
  - cp -R /src /docs/src/equal
  - cd docs

install:
  - npm install
  - npm run build_prod
  - sh 404.sh

script:
  - echo "Skipping tests"

deploy:
  provider: pages
  skip-cleanup: true
  github-token: $GITHUB_ACCESS_TOKEN  # Set in travis-ci.org dashboard, marked secure https://docs.travis-ci.com/user/deployment/pages/#Setting-the-GitHub-token
  target-branch: gh-pages
  local-dir: docs/dist
  on:
    branch: master