@import "./variables.less";

@import url('https://rsms.me/inter/inter.css');
html { font-family: Inter,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif; -webkit-font-smoothing: antialiased;}
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var',system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif; -webkit-font-smoothing: antialiased;}
}

p {
  margin: 0px;
}

a {
  text-decoration: inherit;
  color: @color-primary;
}