@import 'animations.less';
@import 'variables.less';
@import 'helpers.less';
@import '../components/alert/styles.less';
@import '../components/avatar/styles.less';
@import '../components/avatar-group/styles.less';
@import '../components/badge/styles.less';
// @import '../components/breadcrumbs/breadcrumbs.less';
@import '../components/button/styles.less';
@import '../components/button-group/styles.less';
@import '../components/checkbox/checkbox.less';
@import '../components/colorpicker/colorpicker.less';
@import '../components/collapse/collapse.less';
@import '../components/drawer/drawer.less';
@import '../components/dropdown/dropdown.less';
@import '../components/divider/divider.less';
@import '../components/icon/icon.less';
@import '../components/input/input.less';
@import '../components/loading/loading.less';
@import '../components/loadingbar/loadingbar.less';
@import '../components/message/message.less';
@import '../components/modal/modal.less';
@import '../components/notification/notification.less';
@import '../components/numberinput/numberinput.less';
@import '../components/progressbar/progressbar.less';
@import '../components/radio/radio.less';
@import '../components/select/select.less';
@import '../components/slider/styles.less';
@import '../components/switch/switch.less';
@import '../components/tabs/tabs.less';
@import '../components/tag/tag.less';
@import '../components/textarea/textarea.less';
@import '../components/toggle/toggle.less';
@import '../components/tooltip/tooltip.less';

html {
  font-family:
    Inter,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Helvetica Neue,
    Arial,
    Noto Sans,
    sans-serif;
  -webkit-font-smoothing: antialiased;
}

p {
  margin: 0;
}
