@color-primary: #3051ff;
@color-success: #07d85b;
@color-danger: #f93155;
@color-warning: #ffba00;
@color-black: #131313;
@color-secondary-black: #232323;
@color-disabled-bg: #f5f6f6;
@color-grey-text: #5f616c;

@color-neutral: #c4c4c4;
@color-secondary-text: #d3dae6;

/* Border */
@color-disabled-border: #c5cbd7;
@color-default-border: #d3dae6;
@border-radius-base: 4px;
@border-radius-round: 40px;

/* text */
@default-text-size: 14px;
@default-text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.07);

/* shadows */
@popup-shadow: 0px 0px 0px 0.6px rgba(0, 0, 0, 0.15),
  0px 1.5px 1px rgba(0, 0, 0, 0.1);
@input-shadow: 0 1px 1px rgba(211, 218, 230, 30%);
