<!DOCTYPE html>
<html >
<head><meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&display=swap">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900"><link rel="modulepreload" as="script" crossorigin href="/Equal/_nuxt/entry.efe114cc.js"><link rel="preload" as="style" href="/Equal/_nuxt/entry.1b428777.css"><link rel="prefetch" as="script" crossorigin href="/Equal/_nuxt/error-component.c710932b.js"><link rel="stylesheet" href="/Equal/_nuxt/entry.1b428777.css"></head>
<body ><div id="__nuxt"></div><script>window.__NUXT__={serverRendered:false,config:{public:{},app:{baseURL:"\u002FEqual\u002F",buildAssetsDir:"\u002F_nuxt\u002F",cdnURL:""}},data:{},state:{}}</script><script type="module" src="/Equal/_nuxt/entry.efe114cc.js" crossorigin></script></body>
</html>