@import '../../styles/variables.less';

.it-modal {
  &-mask {
    position: fixed;
    margin: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.45);
    z-index: 99999;
    overflow-y: scroll;
  }

  &-wrap {
    height: 100vh;
    width: 100%;
    overflow-y: scroll;
    display: table;
    transition-delay: 0.05s;

    &-inner {
      display: table-cell;
      vertical-align: middle;
      padding: 40px 0;
    }
  }

  &-body {
    overflow: hidden;
    margin: 0 auto;
    background-color: #fff;
    border: none;
    border-radius: @border-radius-base;
    outline: none;
    box-shadow: @popup-shadow;
    cursor: default;
    display: table;
    width: 100%;
    transition: transform 0.2s ease-in-out;

    > img {
      max-width: 100%;
      display: block;
    }

    &--has-image {
      width: auto;
      max-width: 90%;
    }
  }

  &-header {
    text-align: left;
    padding: 16px 24px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1;

    & + .it-modal-content {
      padding-top: 0;
    }
  }

  &-content {
    padding: 16px 24px;
    font-size: 14px;
    overflow: auto;
  }

  &-footer {
    background-color: #f7fafc;
    display: flex;
    justify-content: flex-end;
    // flex-direction: row-reverse;
    padding: 16px 24px;

    .it-btn + .it-btn {
      margin-left: 16px;
    }
  }
}

.stop-scroll {
  overflow: hidden;
}
