@import '../../styles/variables.less';

.it-modal {
  &-mask {
    position: fixed;
    margin: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.45);
    z-index: 99999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
  }

  &-body {
    transition-delay: .05s;
    position: relative;
    max-width: 90%;
    display: flex;
    max-height: 100%;
    flex-direction: column;
    top: -40px;
    // width: 500px;
    margin: 0 auto;
    border: none;
    border-radius: @border-radius-base;
    background-color: #fff;
    outline: none;
    box-shadow: @popup-shadow;
    cursor: default;
    overflow: hidden;
    > img {
      max-width: 100%;
    }
  }

  &-header {
    text-align: left;
    padding: 16px 24px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1;

    & + .it-modal-content {
      padding-top: 0px;
    }
  }

  &-content {
    padding: 16px 24px;
    font-size: 14px;
    overflow: auto;
  }

  &-footer {
    background-color: #F7FAFC;
    display: flex;
    justify-content: flex-end;
    // flex-direction: row-reverse;
    padding: 16px 24px;

    .it-btn + .it-btn {
      margin-left: 16px;
    }
  }
}

.stop-scroll {
  overflow: hidden;
}
