@import '../../styles/variables.less';

.it-number-input {
  border: 1px solid @color-secondary-text;
  display: inline-block;
  border-radius: @border-radius-base;
  overflow: hidden;
  box-sizing: border-box;
  height: 34px;
  min-width: 70px;
  width: 100%;
  position: relative;

  transition: border .15s;

  &:focus-within {
    border: 1px solid @color-primary;
    &:hover {
      border-color: @color-primary;
    }
  }

  &:hover {
    border: 1px solid @color-neutral;
    .it-number-input-controller {
      opacity: 1;
    }
  }

  &-original {
    display: block;
    background-color: transparent;
    width: 100%;
    height: 100%;
    padding: 0 10px;
    line-height: 1.5;
    border: none;
    box-sizing: border-box;

    &:focus {
      border: none;
      outline: none;
    }
  }

  &-controller {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 20px;
    height: 100%;
    color: @color-neutral;
    opacity: 0;
    transition: all 0.14s;
    user-select: none;
    cursor: pointer;

    &-up,
    &-down {
      position: relative;
      display: flex;
      width: 100%;
      // height: 16px;
      align-items: center;
      justify-content: center;
      background-color: @color-disabled-bg;

      &--disabled {
        cursor: not-allowed;
      }
      transition: all 0.1s;

      &:hover:not(.it-number-input-controller-up--disabled):not(.it-number-input-controller-down--disabled) {
        background-color: @color-primary;
        // height: 19px;
        color: #ffffff;
      }
    }

    &-up {
      &:active:not(.it-number-input-controller-up--disabled):not(.it-number-input-controller-down--disabled) {
        > .it-icon {
          transition: all 0.15s;
          transform: translateY(-1.5px) !important;
        }
      }
    }

    &-down {
      &:active:not(.it-number-input-controller-up--disabled):not(.it-number-input-controller-down--disabled) {
        > .it-icon {
          transition: all 0.15s;
          transform: translateY(1.5px) !important;
        }
      }

      // &:hover {
      //   margin-top: -3px;
      //   .it-number-input-controller-up {
      //     margin-top: -3px !important;
      //   }
      // }
    }

    // &-down {

    // }
  }
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
