@import '../../styles/variables.less';

.it-progress-wrapper {
  display: inline-block;
  width: 100%;
}

.it-progress-text {
  display: inline-block;
}

.it-progress-bar {
  background-color: @color-disabled-bg;
  border-radius: 4px;
  width: 100%;
  overflow: hidden;
  
}
.it-progress-line {
  background-color: @color-primary;
  transition: all .2s ease-out;
  border-radius: 4px;
  height: 100%;
}